<div class="row">
  <div class="col-md-12">
    <h1>About Pure Ravine</h1>
      <p>Use Markdown to style your Wiki pages. Read more about <%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %> here. </p>
  </div>
</div>